html,
body,
div,
section,
header,
h1,
h2,
h3,
abbr,
p,
a,
footer,
aside,
nav,
ul,
li {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    list-style: none;
}

html {
    background: #000;
}

body {
    overflow: auto;
    padding: 0 0 25px 0;
    min-width: 220px;
    border: none;
    color: #fff;
    font: 20px/23px "museo-sans", sans-serif;
}
